<div class="jumbotron jumbotron-fluid">
<h1 class="word">  Phone Number Verification Portal</h1>

<div class="flex-container" >
  <div>
    <form #phoneform="ngForm" (ngSubmit)="phoneSubmit(phoneform.value.phone)">
        <span class="glyphicon glyphicon-phone-alt"></span>Phone Number : <input id="phone" type="tel" name ="phone" [(ngModel)]="phone" placeholder="Phonenumber"/>
 <input type = "submit" value="submit">
</form>
  </div>
  <div *ngIf="otpvisible">
    <form #otpform="ngForm" (ngSubmit)="otpSubmit(otpform.value)">
OTP:<input id="otp"  name ="ONumber" [(ngModel)]="ONumber" placeholder="enter your OTP.."/>
<input type = "submit" value="submit">
</form>
  </div>
</div>
</div>
